.input {
  /* height: 60px; */
  padding-left: -10px;
}
.container-body {
  padding: 30px;
}
.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.forecast {
  transition: all 0.25s ease-in-out;
  padding: 10px;
}
.forecast:hover {
  box-shadow: 0 0 25px 0 rgba(191, 191, 194, 0.4);
  border-radius: 10px;
  cursor: pointer;
}

.img {
  transition: all 0.25s ease-in-out;
}
.wind {
  color: mediumpurple;
}
#submitbutton {
  background-color: mediumpurple;
  border: 1px solid mediumpurple;
  color: #fff;
}

.wrapper {
  max-width: 700px;
  margin: 30px auto;
}
.temp {
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.country {
  padding-left: 10px;
}

.time {
  font-size: medium;
  padding-left: 5px;
  padding-right: 5px;
}

.size {
  font-size: 60px;
  padding-right: 20px;
}
.flex {
  align-items: center;
  justify-content: flex-start;
}

.date {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.weather {
  display: flex;
  flex-direction: column;
}
.color {
  color: mediumpurple;
}
.text {
  font-size: medium;
  font-weight: 600;
  color: darkgrey;
}

.celsius {
  position: relative;
  top: -30px;
  padding-left: 5px;
  font-size: 25px;
}

#feels-like {
  padding-left: 6px;
}

.weather-forecast {
  font-weight: 700;
  font-size: large;
  color: darkgrey;
}

.weather-forecast-temperature-min {
  color: darkgray;
  font-size: large;
  font-weight: 600;
  padding-left: 5px;
}

.weather-forecast-temperature-max {
  color: mediumpurple;
  font-size: large;
  font-weight: 600;
}

.active {
  color: mediumpurple;
}
#currenttemp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  .weather-forecast,
  .weather-forecast-temperature-max,
  .weather-forecast-temperature-min {
    font-size: 14px;
  }
  .container-body {
    padding: 10px;
  }
  .text {
    font-size: small;
  }
}
